<!DOCTYPE html>
<html>
  <head>
    <title>Jamesgarage</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="row">
	<aside class="col-md-3">
	  
	  <ul class="side-menu nav nav-pills nav-stacked">
	    <li><%= link_to "Home", services_path, class: "bar-menu" %></li>
	    <li><%= link_to "Cars for sales", cars_for_sale_path, class: "bar-menu" %></li>
	    <li><%= link_to "Contact Us", contact_path, class: "bar-menu" %></li>
	  <% if !admin? %>
	    <li><%= link_to "", signin_path, class: "bar-menu glyphicon glyphicon-user" %></li>
	  </ul> 
	  <% else %>
	  </ul>
	  <ul class="side-menu nav nav-pills nav-stacked">
	    <li><%= link_to "Welcome, admin", '#', class: "label label-warning bar-menu" %></li>
	    <li><%= link_to "Add new album", new_album_path %></li>
	    <li><%= link_to "Edit albums", album_edit_all_path %></li>
	    <li><%= link_to "Log out", signout_path, method: "delete" %></li>
	  </ul> 
	  <% end %>
	  
	</aside>

	<div class="col-md-9">
	  <% flash.each do |key, value| %>
	  <div class="flash-msg alert alert-<%= key %>"><%= value %></div>
	  <% end %>

      	  <%= yield %>
	</div>
      </div>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
